<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <style>.center{font-family:Verdana,Arial,sans-serif}.center:lang(zh-TW){font-family:Verdana,Arial,Microsoft JhengHei,sans-serif}.center:lang(zh-CN){font-family:Verdana,Arial,Microsoft YaHei,sans-serif}.center:lang(ja){font-family:Verdana,Arial,Meiryo,sans-serif}.circle_text{font-weight:700}html{height:100%}body{margin:0 auto;min-height:600px;min-width:800px;height:100%}.top{height:100px;height:calc(40% - 140px)}.bottom{height:150px;height:calc(60% - 210px)}.center{height:350px;text-align:center;vertical-align:middle}.circle{margin:auto;width:260px;height:260px;border-radius:50%;background:#c0c6cc}.circle_text{line-height:260px;font-size:100px;color:#fff}.text{line-height:40px;font-size:26px;color:#414b55}
  </style>
</head>
<body>
<div class="top"></div>
<div class="center">
  <div class="circle">
    <div class="circle_text">ERROR</div>
  </div>
  <div>
    <p class="text" id="a"></p>
  </div>
</div>
<div class="bottom"></div>
</body>
</html>
