<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">
<script src="../../static/js/facility.js"></script>
<th:block layout:fragment="content">
    <div class="content_title">
        <h3 class="page_title">시설물현황</h3>
        <ol class="page_breadcrumb">
            <li>HOME</li>
            <li><a href="#">시설물현황</a></li>
            <li><a href="#">시설물현황</a></li>
        </ol>
    </div>

    <div class="content_area">

        <!-- search box type ex1 : 기본 4칸 + 버튼영역 -->
        <div class="search_wrap">
            <ul>
                <li>
                    <p>정류장 ID</p>
                    <div class="rowbox">
                        <input type="text" id="s_terminalId" placeholder="정류장 ID 를 입력해주세요">
                    </div>
                </li>
                <li>
                    <p>정류장 명</p>
                    <div class="rowbox">
                        <input type="text" id="s_terminalNm" placeholder="정류장 명 을 입력해주세요">
                    </div>
                </li>
            </ul>

            <div class="srch_btn">
                <div class="type_grp type_single">
                    <button type="button" class="btn_def btn_point_clr" onclick="getTerminalList()">조회</button>
                    <button type="button" class="btn_def btn_red_clr" onclick="clearContents()">초기화</button>
                </div>
            </div>
        </div>

        <div class="area_title">
            <h4 class="left_grp">
                <span class="sub_title">조회결과</span>
                <span class="sub_script">
                  총 건수: <span class="num">10</span>건
                </span>
            </h4>
            <div class="right_grp btn_grp">
                <div class="type_grp">
                    <label class="hide">적용건수 선택</label>
                    <select id="itemsPerPage" class="select_round" onchange="getTerminalList(0)">
                        <option value="10">10건</option>
                        <option value="100">100건</option>
                    </select>
                </div>
                <div class="type_grp">
                    <button id="regist" type="button"
                            class="btn_def btn_point_clr btn_model"
                            model_target="#create_popup_frame">
                        등록
                    </button>
                    <button type="button" class="btn_def btn_red_clr" onclick="deleteFacility()">삭제</button>
                </div>
            </div>
        </div>

<!--        s: 그리드-->
        <div class="grid_board">
            <div id="grid_table"></div>
            <div id="grid_pagination" class="tui-pagination"></div>
        </div>
<!--        e: 그리드-->

    </div>

<!--    s: 수정팝업-->
    <div id="datepicker_wrapper" style="margin-top: -1px;"></div>
    <div id="popup_frame" class="popup_frame">
        <div class="popup_wrap">
            <div class="pop_title">
                <h5>상세보기</h5>
                <button type="button" class="btn_x btn_close" onclick="clearContents()">
                    <span class="hide">닫기</span>
                    <i class="icon_x"></i>
                </button>
            </div>

            <div class="pop_content">
                <form id="updateUser">
                    <div class="area_title mt_40">
                        <h4 class="left_grp">
                            <span class="sub_title">터미널 정보</span>
                        </h4>
                    </div>
                    <div class="table_wrap">
                        <table class="align_center">
                            <caption class="hide">table</caption>
                            <colgroup>
                                <col style="width: 50%;">
                                <col style="width: 50%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">NO</th>
                                    <td id="no"></td>
                                </tr>
                                <tr>
                                    <th>정류장 ID</th>
                                    <td id="id">
                                        <p id="u_tmnId"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>정류장명</th>
                                    <td id="nm">
                                        <input id="u_tmnNm" type="text" style="text-align: center;" value="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="area_title mt_40">
                        <h4 class="left_grp">
                            <span class="sub_title">시설물 구비여부</span>
                        </h4>
                    </div>

                    <div class="table_wrap">
                        <table class="align_center">
                            <caption class="hide">table</caption>
                            <colgroup>
                                <col style="width: 50%;">
                                <col style="width: 50%;">
                            </colgroup>

                            <tbody>
                                <tr>
                                    <th>통합제어보드</th>
                                    <td>
                                        <div class="rowbox check_box"
                                             style="width:15%; margin:auto;">
                                            <input type="checkbox" id='u_ctlBoard' class="check_def">
                                            <label for="u_ctlBoard"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>스마트스크린</th>
                                    <td>
                                        <div class="rowbox check_box"
                                             style="width:15%; margin:auto;">
                                            <input type="checkbox" id='u_smartscreen' class="check_def">
                                            <label for="u_smartscreen"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>재실감지카메라</th>
                                    <td>
                                        <div class="rowbox check_box"
                                             style="width:15%; margin:auto;">
                                            <input type="checkbox" id='u_cv' class="check_def">
                                            <label for="u_cv"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>승하차알림시스템</th>
                                    <td>
                                        <div class="rowbox check_box"
                                             style="width:15%; margin:auto;">
                                            <input type="checkbox" id='u_ledPanel' class="check_def">
                                            <label for="u_ledPanel"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>공기질표출장치</th>
                                    <td>
                                        <div class="rowbox check_box"
                                             style="width:15%; margin:auto;">
                                            <input type="checkbox" id='u_lcdDisplay' class="check_def">
                                            <label for="u_lcdDisplay"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>LTE라우터</th>
                                    <td>
                                        <div class="rowbox check_box"
                                             style="width:15%; margin:auto;">
                                            <input type="checkbox" id='u_lteRouter' class="check_def">
                                            <label for="u_lteRouter"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>공공WI-FI</th>
                                    <td>
                                        <div class="rowbox check_box"
                                             style="width:15%; margin:auto;">
                                            <input type="checkbox" id='u_lteRouter2' class="check_def">
                                            <label for="u_lteRouter2"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>LED전등</th>
                                    <td>
                                        <div class="rowbox check_box"
                                             style="width:15%; margin:auto;">
                                            <input type="checkbox" id='u_ledLight' class="check_def">
                                            <label for="u_ledLight"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>냉각FAN</th>
                                    <td>
                                        <div class="rowbox check_box"
                                             style="width:15%; margin:auto;">
                                            <input type="checkbox" id='u_fan' class="check_def">
                                            <label for="u_fan"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="btn_grp btn_right">
                        <div class="type_grp type_single">
                            <button type="button" class="btn_def btn_point_clr" onclick="updateFacility()">수정</button>
                            <button type="button" class="btn_def btn_red_clr" onclick="deleteFacility()">삭제</button>
                            <button type="button" class="btn_close btn_def btn_gray" onclick="clearContents()">닫기</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
<!--    e: 수정팝업-->

<!--    s: 등록팝업-->
    <div id="create_popup_frame" class="popup_frame">
        <div class="popup_wrap">
            <div class="pop_title">
                <h5>시설물 현황 등록</h5>
                <button type="button" class="btn_x btn_close" onclick="clearContents()">
                    <span class="hide">닫기</span>
                    <i class="icon_x"></i>
                </button>
            </div>
            <div class="pop_content">

                <form id="createUser">
                    <div class="area_title mt_40">
                        <h4 class="left_grp">
                            <span class="sub_title">터미널 정보</span>
                        </h4>
                    </div>
                    <div class="table_wrap">
                        <table class="align_center">
                            <caption class="hide">table</caption>
                            <colgroup>
                                <col style="width: 50%;">
                                <col style="width: 50%;">
                            </colgroup>

                            <tbody>
                                <tr>
                                    <th>정류장 ID</th>
                                    <td>
                                        <div class="rowbox">
                                            <div class="btn_grp">
                                                <input id="c_tmnId" type="text" placeholder="" style="max-width: 90%;">
                                                <button type="button" id="duplicateCheckBtn" class="btn_def btn_red_clr" onclick="checkDuplicate()">중복확인</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>정류장명</th>
                                    <td>
                                        <div class="rowbox">
                                            <input id="c_tmnNm" type="text" placeholder="">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="area_title mt_40">
                        <h4 class="left_grp">
                            <span class="sub_title">시설물 구비여부</span>
                        </h4>
                    </div>

                    <div class="table_wrap">
                        <table class="align_center">
                            <caption class="hide">table</caption>
                            <colgroup>
                                <col style="width: 50%;">
                                <col style="width: 50%;">
                            </colgroup>

                            <tbody>
                                <tr>
                                    <th>통합제어보드</th>
                                    <td>
                                        <div class="rowbox check_box" style="display: initial;">
                                            <input type="checkbox" id="c_ctlBoard" class="check_def">
                                            <label for="c_ctlBoard"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>스마트스크린</th>
                                    <td>
                                        <div class="rowbox check_box" style="display: initial;">
                                            <input type="checkbox" id="c_smartscreen" class="check_def">
                                            <label for="c_smartscreen"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>재실감지카메라</th>
                                    <td>
                                        <div class="rowbox check_box" style="display: initial;">
                                            <input type="checkbox" id="c_cv" class="check_def">
                                            <label for="c_cv"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>승하차알림시스템</th>
                                    <td>
                                        <div class="rowbox check_box" style="display: initial;">
                                            <input type="checkbox" id="c_ledPanel" class="check_def">
                                            <label for="c_ledPanel"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>공기질표출장치</th>
                                    <td>
                                        <div class="rowbox check_box" style="display: initial;">
                                            <input type="checkbox" id="c_lcdDisplay" class="check_def">
                                            <label for="c_lcdDisplay"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>LTE라우터</th>
                                    <td>
                                        <div class="rowbox check_box" style="display: initial;">
                                            <input type="checkbox" id="c_lteRouter" class="check_def">
                                            <label for="c_lteRouter"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>공공WI-FI</th>
                                    <td>
                                        <div class="rowbox check_box" style="display: initial;">
                                            <input type="checkbox" id="c_lteRouter2" class="check_def">
                                            <label for="c_lteRouter2"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>LED전등</th>
                                    <td>
                                        <div class="rowbox check_box" style="display: initial;">
                                            <input type="checkbox" id="c_ledLight" class="check_def">
                                            <label for="c_ledLight"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>냉각FAN</th>
                                    <td>
                                        <div class="rowbox check_box" style="display: initial;">
                                            <input type="checkbox" id="c_fan" class="check_def">
                                            <label for="c_fan"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="btn_grp btn_center">
                        <div class="type_grp type_single">
                            <button type="button" class="btn_def btn_main_clr" onclick="createTerminal()">
                                등록
                            </button>
                            <button type="button" class="btn_def btn_red_clr btn_close" onclick="clearContents()" >
                                취소
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
<!--    e: 등록팝업-->
    <script type="text/javascript" th:src="@{/js/facility.js}"></script>
</th:block>
</html>
