<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="lodingSpinner">
    <div class="spinner-background" style="display: none;"></div>

    <div class="loadingio-spinner-spin-2by998twmg8" style="display: none;">
        <div class="ldio-yzaezf3dcmj">
            <div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>
            <div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>
        </div>
    </div>
</th:block>
</html>
