<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">
<th:block layout:fragment="content">
    <script>
        /*<![CDATA[*/
        let commonValid = '[[#{error.required.valid}]]';
        /*]]>*/
    </script>
    <div class="content_title">
        <h3 class="page_title">사용자관리</h3>
        <ol class="page_breadcrumb">
            <li>HOME</li>
            <li><a href="#">시스템관리</a></li>
            <li><a href="#">사용자관리</a></li>
        </ol>
    </div>

    <div class="content_area">

        <!-- search box type ex1 : 기본 4칸 + 버튼영역 -->
        <div class="search_wrap">
            <ul>
                <li>
                    <p>아이디</p>
                    <div class="rowbox">
                        <input type="text" id="i_userId" placeholder="아이디를 입력해주세요.">
                    </div>
                </li>
                <li>
                    <p>이름</p>
                    <div class="rowbox">
                        <input type="text" id="i_userNm" placeholder="이름을 입력해주세요.">
                    </div>
                </li>
                <li>
                    <p>EMAIL</p>
                    <div class="rowbox">
                        <input type="text" id="i_userEmail" placeholder="이메일을 입력해주세요.">
                    </div>
                </li>
                <li>
                    <p>등록일</p>
                    <div class="rowbox date_box">
                        <div>
                            <input type="text" id="datepicker-input1" aria-label="Date-Time">
                            <div class="datepicker-container" id="datepicker-input1-container"></div>
                        </div>
                        <span>~</span>
                        <div>
                            <input type="text" id="datepicker-input2" aria-label="Date-Time">
                            <div class="datepicker-container"  id="datepicker-input2-container"></div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="srch_btn">
                <div class="type_grp type_single">
                    <button type="button" class="btn_def btn_point_clr" onclick="getUserList()">조회</button>
                    <button type="button" class="btn_def btn_red_clr" onclick="clearContents()">초기화</button>
                </div>
            </div>
        </div>

        <div class="area_title">
            <h4 class="left_grp">
                <span class="sub_title">조회결과</span>
                <span class="sub_script">
                  총 건수: <span class="num"></span>건
                </span>
            </h4>
            <div class="right_grp btn_grp">
                <div class="type_grp">
                    <label class="hide">적용건수 선택</label>
                    <select id="itemsPerPage" class="select_round" onchange="getUserList(0)">
                        <option value="10">10건</option>
                        <option value="100">100건</option>
                    </select>
                </div>
                <div class="type_grp">
                    <button id="regist" type="button"
                            class="btn_def btn_point_clr btn_model"
                            model_target="#regist_popup_frame">
                        등록
                    </button>
                    <button type="button" class="btn_def btn_red_clr" onclick="deleteUser()">삭제</button>
                </div>
            </div>
        </div>

        <!--    s: 그리드-->
        <div class="grid_board">
            <div id="grid_tale"></div>
            <div id="grid_pagination" class="tui-pagination"></div>
        </div>
        <!--    e: 그리드-->

    </div>

    <!--  s: 수정팝업-->
    <div id="datepicker_wrapper" style="margin-top: -1px;"></div>
    <div id="popup_frame" class="popup_frame">
        <div class="popup_wrap">
            <div class="pop_title">
                <h5>상세보기</h5>
                <button type="button" class="btn_x btn_close" onclick="clearContents()">
                    <span class="hide">닫기</span>
                    <i class="icon_x"></i>
                </button>
            </div>

            <div class="pop_content">
                <form id="updateUser">
                    <div class="table_wrap">
                        <table class="align_center">
                            <caption class="hide">table</caption>
                            <colgroup>
                                <col style="width: 50%;">
                                <col style="width: 50%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">NO</th>
                                    <td id="no"></td>
                                </tr>
                                <tr>
                                    <th>이름</th>
                                    <td id="nm">
                                        <input type="text" id="d_i_userNm" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>비밀번호</th>
                                    <td id="pw">
                                        <input type="password" id="u_password" value="" autocomplete="off" placeholder="비밀번호 수정 시에만 기입하세요" style="width:100%; text-align: center;">
                                    </td>
                                </tr>
                                <tr>
                                    <th>비밀번호(확인)</th>
                                    <td id="pw2">
                                        <input type="password" id="u_password2" value="" autocomplete="off" placeholder="비밀번호 수정 시에만 기입하세요" style="width:100%; text-align: center;">
                                    </td>
                                </tr>
                                <tr>
                                    <th>이메일</th>
                                    <td id="email">
                                        <input type="text" id="d_i_userEmail" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>핸드폰번호</th>
                                    <td id="telno">
                                        <input type="text" id="d_i_userTelno" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>권한그룹</th>
                                    <td>
                                        <div class="rowbox">
                                            <select id="d_i_roleNm" class="select_box" required>
                                                <!--                    <option value="">선택</option>-->
                                                <option value="1">일반사용자</option>
                                                <option value="2">관리자</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>상태</th>
                                    <td>
                                        <div class="rowbox">
                                            <select id="d_i_useYn" class="select_box" required>
                                                <option value="Y">사용</option>
                                                <option value="N">정지</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>생성일자</th>
                                    <td id="createdAt"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>

                <div class="btn_grp btn_right">
                    <div class="type_grp type_single">
                        <button type="button" class="btn_def btn_point_clr" onclick="updateUser()">수정</button>
                        <button type="button" class="btn_def btn_red_clr" onclick="deleteUser()">삭제</button>
                        <button type="button" class="btn_close btn_def btn_gray" onclick="clearContents()">닫기</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--  e: 수정팝업-->

    <!--  s: 등록팝업-->
    <div id="regist_popup_frame" class="popup_frame">
        <div class="popup_wrap">
            <div class="pop_title">
                <h5>사용자 등록</h5>
                <button type="button" class="btn_x btn_close" onclick="clearContents()">
                    <span class="hide">닫기</span>
                    <i class="icon_x"></i>
                </button>
            </div>

            <div class="pop_content">
                <form id="createUser">
                    <div class="table_wrap">
                        <table class="align_center">
                            <caption class="hide">table</caption>
                            <colgroup>
                                <col style="width: 50%;">
                                <col style="width: 50%;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>이름</th>
                                <td>
                                    <div class="rowbox">
                                        <input id="userNm" type="text" placeholder="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>아이디</th>
                                <td>
                                    <div class="rowbox">
                                        <div class="btn_grp">
                                            <input id="userId" type="text" placeholder="" style="max-width: 90%;">
                                            <button type="button" id="duplicateCheckBtn" class="btn_def btn_red_clr" onclick="checkDuplicate()">중복확인</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>이메일</th>
                                <td>
                                    <div class="rowbox">
                                        <input id="userEmail" type="text" placeholder="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>비밀번호</th>
                                <td>
                                    <div class="rowbox">
                                        <input id="userPassword" type="password" placeholder="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>비밀번호(확인)</th>
                                <td>
                                    <div class="rowbox">
                                        <input id="userPasswordCheck" type="password" placeholder="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>권한그룹</th>
                                <td>
                                    <div class="rowbox">
                                        <label class="hide">선택</label>
                                        <select id="roleId" class="select_box" required>
                                            <option value="" disabled selected>선택</option>
                                            <option value="1">일반사용자</option>
                                            <option value="2">관리자</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>휴대폰전화번호</th>
                                <td>
                                    <div class="rowbox">
                                        <input id="userTelno" type="text" placeholder="">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="btn_grp btn_center">
                        <div class="type_grp type_single">
                            <button type="button" class="btn_def btn_main_clr" onclick="createUser()">
                                등록
                            </button>
                            <button type="button" class="btn_def btn_red_clr btn_close" onclick="clearContents()" >
                                취소
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!--  e: 등록팝업-->
    <script type="text/javascript" th:src="@{/js/usermng.js}"></script>
</th:block>
</html>
